
*{

    border: 0px;
    margin: 0px;
    padding: 0px;
    }
    
    #menu{
    
        background-color: black;
        height: 50px;
        text-align: center;
        color: white;
    
    }
    #logo{
        width: 100px;
    }